* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    width: 300px;
}
input {
    border: none;
}
input, button {
    padding: 10px;
    margin-bottom: 10px;
    width: -webkit-fill-available;
    border: 1px solid #000;
}
button {
    cursor: pointer;
}
button:active {
    background-color: #ff944c;
    color: white;
    opacity: 0.8;
}
.clear {
    background: white;
    border: none;
    color: black;
}
.solid {
    background: #ff944c;
    border: none;
    color: white;
}
.outline {
    background: #ff944c;
    color: black;
    
}
button[disabled] {
    background-color: #ff944c;
    opacity: 0.5;
    color: white;
}